<link rel="stylesheet" href="components/sliderLbs/sliderLbs.css">
<style type="text/css"></style>

<div id="main-container" style="height: inherit; align-content: center;">
    <swiper-container init="false" class="mySwiper" grab-cursor="true"
          slides-per-view="auto"
          centered-slides="true"
          grab-cursor="true"
          loop="true"
          effect="coverflow"
          coverflow-effect-depth="500"
          coverflow-effect-rotate="20"
          coverflow-effect-scale="1.25"
          coverflow-effect-stretch="80"
          coverflow-effect-modifier="2"
          speed="400"
          watch-slides-progress="true">
    
    </swiper-container>


    <div id="iframeModal" class="iframe-modal">
            <!-- Contenedor del iframe -->
            <div class="iframe-container">
                <!-- Botón cerrar "X" -->
            <button id="closeModalBtn" class="close-modal-button">✕</button>

                <!-- Iframe -->
            <iframe src="/assets/gamma-page/Introducción a la Psicopatología_ Un Viaje por la Mente Humana.html" class="iframe"></iframe>
        </div>
    </div>
</div>