<link rel="stylesheet" href="components/sliderLbs/sliderLbs.css">
<style type="text/css"></style>

<div id="main-container" style="height: inherit; align-content: center;">
    <swiper-container init="false" class="mySwiper"
          loop="true"
          pagination-dynamic-bullets="true"
          centeredSlides="true"
          slidesPerView="1.1"
          spaceBetween="15"
          effect="slide">
    
    </swiper-container>


    <!-- <div id="iframeModal" class="slider-iframe-modal"> -->
            <!-- Contenedor del iframe -->
            <!-- <div class="slider-iframe-container"> -->
                <!-- Botón cerrar "X" -->
            <!-- <button id="closeModalBtn" class="slider-close-modal-button">✕</button> -->

                <!-- Iframe -->
            <!-- <iframe class="slider-iframe"></iframe> -->
        <!-- </div> -->
    <!-- </div> -->
</div>